# Data Analyst

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\laksh\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio~=0.17 in c:\users\laksh\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\laksh\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\laksh\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\laksh\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: async-generator>=1.9 in c:\users\laksh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\laksh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\laksh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\laksh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\laksh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\laksh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\laksh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\laksh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\laksh\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\laksh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\laksh\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\laksh\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
#Lets first connect to the he driver-
driver=webdriver.Chrome(r"C:\Users\Laksh\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [5]:
#entering designation and location as required in the question-
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [11]:
print({len(job_title),len(job_location),len(company_name),len(experience_required)})

{10}

In [12]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'company_name':company_name,'Experience':experience_required})
df

,Title,location,company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
1,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",EY,5-10 Yrs
2,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
3,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
4,Data Analyst,Bangalore/Bengaluru,Excellence And Eminence Llp,2-5 Yrs
5,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
6,Data Analyst | Google App Script,"Bangalore/Bengaluru, Mumbai",Webengage,3-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
8,Data Analyst,Bangalore/Bengaluru,Qualitest,5-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs

# Data science

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [14]:
driver=webdriver.Chrome(r"C:C:\Users\Laksh\Downloads\chromedriver_win32")

In [15]:
driver.get("https://www.naukri.com/")

In [16]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Science')

In [17]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [18]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]

In [21]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [22]:
print({len(job_title),len(job_location),len(company_name)})

{10}

In [24]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,"Location":job_location,"Company_name":company_name})
df

,Title,Location,Company_name
0,Senior Director & Head-Data Science & Analytics,"Bangalore/Bengaluru, Pune, Chennai",Vertex Corporate Services (i)
1,"Hiring Data Science Engineers - Tata Elxsi, Ba...",Bangalore/Bengaluru,Tata Elxsi
2,Senior Data Science and Analytics Strategy Con...,Bangalore/Bengaluru,Wells Fargo
3,Senior data science and analytics strategy con...,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Wells Fargo
4,Consultant/Senior Manager - Analytics/Data Sci...,"Bangalore/Bengaluru, Gurgaon/Gurugram",Huquo Consulting Pvt. Ltd
5,Data Engineer (Data Science),Bangalore/Bengaluru,Tech Mahindra
6,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
7,Hiring For Data Science Intern,"Bangalore/Bengaluru, Delhi / NCR",Flip Robo Technologies Private Limited
8,Data Science - Senior Data Scientist,Hybrid - Bangalore/Bengaluru,Lemon Tree Staffing
9,Data Science Engineer,Permanent Remote,Ifood Web Media Technology

# Data Science by salary filter

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"C:C:\Users\Laksh\Downloads\chromedriver_win32")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Science')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [60]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [61]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience_required':experience_required})
df

,Title,Location,Company_name,Experience_required
0,Consultant/Senior Manager - Analytics/Data Sci...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs
1,Specialist- Data Analytics (Statistical Analys...,Gurgaon/Gurugram,Gartner,0-3 Yrs
2,Associate Vice President - Data Science Team -...,"Delhi / NCR, Gurgaon/Gurugram",Huquo Consulting Pvt. Ltd,8-13 Yrs
3,Analyst - Data Science - Python/Machine Learni...,Gurgaon/Gurugram,Huquo Consulting Pvt. Ltd,4-9 Yrs
4,Hiring For Data Science Intern,"Delhi / NCR, Bangalore/Bengaluru",Flip Robo Technologies Private Limited,0-3 Yrs
5,Manager- Data Science,"Hybrid - Delhi / NCR, Pune, Bangalore/Bengaluru",Tredence,7-10 Yrs
6,Analyst - Data Science - Python/Machine Learni...,Gurgaon/Gurugram,Huquo Consulting Pvt. Ltd,4-6 Yrs
7,Analyst - Data Science - Python/Machine Learni...,Gurgaon/Gurugram,Huquo Consulting Pvt. Ltd,4-9 Yrs
8,Analyst - Data Science - Python/Machine Learni...,Gurgaon/Gurugram,Huquo Consulting Pvt. Ltd,4-6 Yrs
9,Manager Data Science,Noida,Optum,7-12 Yrs